body {
    font-family: "Monaco", sans-serif;
    background-color: #b21807;
    font-color: #b21807;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

h4 {
    font-size: 20px;
    color: #b21807;
}

h5 {
    font-size: 15px;
}

a {
    color: #FF4500;
    font-size: 16px;
}

/***  Button Formatting ***/
a:hover {
    color: black;
}

button:hover {
    background-color: black;
}

#order:hover {
    background-color: black;
}

.btn {
    background-color: #b21807;
    border: #b21807;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin:0 auto;
}

.navbar-nav .btn {
    margin-left: 15px;
    height: 48px;
}

.shopping-cart {
    font-size: 24px;
    margin-left: 20px;
    background-color: black;
    height: 48px;
}

.shopping-cart:hover {
    background-color: #b21807;
}


/** Navigation Bar **/

@media (min-width: 900px) {
    #title::before {
        content: "Welcome to Pinnochio’s Pizza & Subs!";
    }
}

@media (max-width: 900px) {
    #title::before {
        content: "Pinnochio’s Pizza & Subs!";
    }
}

@media (max-width: 600px) {
    #title::before {
        content: "Pinnochio’s!";
    }
}

#title {
    font-size: 28px;
}


/*** Login ***/

#login_container {
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}

.center_box {
    margin: auto;
    width: 50%;
    max-width: 500px;
    margin-top: 10%;
}

.center_box .logo {
    width: 100%;
    margin: auto;
}


/** Menu Page **/

#menu-container {
    background-color: white;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    max-width: 500px;
    margin-top: 5%;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 50px;
}

.header-underscore {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 90%;
}

#menu-container #order-header {
    padding-top: 20px;
}

#menu-container #instructions {
    font-size: 16px;
}

.menu-category {
    margin: 15px;
    padding: 20px;
}

.menu-section {
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
}

.itemForm {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #EDEDED;
}

.itemForm .btn {
    margin: 5px;
}

.itemForm b {
    margin: 5px;
    font-size: 14px;
}

.itemForm p {
    margin: 5px;
    font-size: 14px;
}

.topping-select {
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    text-align-last: center;
}

/***  Elements for 'Cart' and 'All Orders' Pages ***/

#cart-container, #order-container {
    background-color: white;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    max-width: 800px;
    min-width: 500px;
    margin-top: 5%;
    text-align: center;
    border: 1px solid black;
}

#order-total {
    font-size: 18px;
}

#cart-container #orderForm {
    width: 70%;
    margin:0 auto;
    margin-top: 40px;
}

#cart-container h4 {
    margin:20px;
}

table {
    align: center;
    border-bottom: 1px solid lightgrey;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    border-top: 1px solid black;
    background-color: lightgrey;
}

.cart-font {
    font-size: 17px;
    font-color: #b21807;
}

input[type=text]:focus{
  outline: 2px solid black;
  box-shadow: 0 0 0 1px black;
}
