body {
    font-family: "Monaco", sans-serif;
    background-color: #b21807;
    font-color: #b21807;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

h4 {
    font-size: 20px;
    color: #b21807;
}

h5 {
    font-size: 15px;
}

a {
    color: #FF4500;
    font-size: 16px;
}

a:hover {
    color: black;
}


#title {
    font-size: 28px;
}

#login_container {
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}

.center_box {
    margin: auto;
    width: 50%;
    max-width: 500px;
    margin-top: 10%;
}

.center_box .logo {
    width: 100%;
    margin: auto;
}

.btn {
    background-color: #b21807;
    border: #b21807;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin:0 auto;
}

.shopping-cart {
    font-size: 24px;
    margin-left: 20px;
    background-color: black;
    height: 48px;
}

#logout {
    height: 48px;
}

#menu-container {
    background-color: white;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    max-width: 500px;
    margin-top: 5%;
    text-align: center;
    border: 1px solid black;
}

.header-underscore {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 90%;
}

#menu-container #order-header {
    padding-top: 20px;
}

#menu-container #instructions {
    font-size: 16px;
}

.section-underscore {
    border: 1px solid black;
    width: 60%;
}

.menu-category {
    margin: 20px;
    padding: 20px;
}

.menu-section {
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
}

.itemForm {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #FFFACD;
}

.itemForm .btn {
    margin: 5px;
}

.itemForm b {
    margin: 5px;
    font-size: 14px;
}

.itemForm p {
    margin: 5px;
    font-size: 14px;
}

.topping-select {
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    text-align-last: center;
}

.question {
    font-weight
}


@media (min-width: 800px) {
  #title::before {
    content: "Welcome to Pinnochio’s Pizza & Subs!";
  }
  #
}

@media (max-width: 800px) {
  #title::before {
    content: "Pinnochio’s Pizza & Subs!";
  }
}
