{% extends "orders/template.html" %}

{% block title %}
    All Orders
{% endblock %}

{% block navbar %}

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <a href="{% url 'index' %}" class="navbar-brand mr-0" id="title"></a>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <button class="btn" id="menu" type="submit">Back to Menu</button>
                </form>
            </li>
            {% if is_admin %}
                <li>
                    <form action="{% url 'view_all_orders' %}" method="post">
                        {% csrf_token %}
                        <button class="btn" id="all_orders" type="submit">View All Orders</button>
                    </form>
                </li>
            {% endif %}
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn" id="logout" type="submit">Logout</button>
                </form>
            </li>
            <li>
                <form action="{% url 'view_cart' %}" method="post">
                    {% csrf_token %}
                    <button class="btn shopping-cart">
                        {% if items_in_cart and items_in_cart > 0 %}
                            <i class="fa fa-shopping-cart"></i> ({{ items_in_cart }})
                        {% else %}
                            <i class="fa fa-shopping-cart"></i>
                        {% endif %}
                    </button>
                </form>
            </li>
        </ul>
    </div>

{% endblock %}

{% block body %}

    <div id="order-container">
        <h2 id="order-header">All Orders Placed:</h2>

        {% if orders %}

            <table class="table">
                <tr>
                    <th>Status</th>
                    <th>User</th>
                    <th>Date Placed</th>
                    <th># Items</th>
                    <th>Total Cost</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.get_status_display }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.order_placed|date:'Y-m-d' }}</td>
                        <td>{{ order.items.all|length }}</td>
                        <td> ${{ order.total_cost }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <h4 class="cart-font">No orders placed yet.</h4>
        {% endif %}

    </div>

{% endblock %}
