{% extends "orders/template.html" %}

{% block title %}
    Orders
{% endblock %}

{% block navbar %}

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <a href="{% url 'index' %}" class="navbar-brand mr-0" id="title"></a>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if is_admin %}
                <li>
                    <form action="{% url 'view_all_orders' %}" method="post">
                        {% csrf_token %}
                        <button class="btn" id="all_orders" type="submit">View All Orders</button>
                    </form>
                </li>
            {% endif %}
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn" id="logout" type="submit">Logout</button>
                </form>
            </li>
            <li>
                <form action="{% url 'view_cart' %}" method="post">
                    {% csrf_token %}
                    <button class="btn shopping-cart">
                        {% if items_in_cart and items_in_cart > 0 %}
                            <i class="fa fa-shopping-cart"></i> ({{ items_in_cart }})
                        {% else %}
                            <i class="fa fa-shopping-cart"></i>
                        {% endif %}
                    </button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div id="menu-container">
        <h2 id="order-header">Place An Order</h2>
        <p id="instructions">Select the dropdown of the item of interest, fill in selections, and click 'Add to Cart'!</p>
        <hr class="header-underscore">

        {% for category, menu_options in menu.items %}

            <div class="menu-category">
                <h4 class="menu-section"> {{category}} </h4>

                {% for option in menu_options %}
                    <div class="panel-group accordion">
                        <div class="panel panel-default">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#{{ option.category.name }}_{{ option.item.name }}">
                                    <i class="fa fa-angle-down"></i>
                                    {{ option.item.name }}
                                </a>
                            </h4>
                            <div id="{{ option.category.name }}_{{ option.item.name }}" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <form class="itemForm" action="{% url 'add_item_to_cart' %}" method="post">
                                        {% csrf_token %}


                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="hidden" value="{{ option.category.name }}_{{ option.item.name }}" name="item">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <b class="question"> (1) Select a size: </b>
                                            <p>

                                                {% for price in option.prices.all %}
                                                    <label class="radio">
                                                        <input type="radio" name="size" value="{{ price.size.value }}">
                                                        {{ price.size.value }} (${{ price.base_price }})
                                                    </label>
                                                {% endfor %}

                                            </p>
                                        </div>

                                        {% if option.number_of_possible_toppings > 0 %}
                                            <div class="form-group">
                                                <b class="question"> (2) Select toppings (+${{ option.price_per_additional_topping }}/each): </b>
                                                <div>

                                                    {% with ''|center:option.number_of_possible_toppings as range %}
                                                    {% for _ in range %}
                                                        <select class="topping-select" name="toppings">
                                                            <option value="none" name="none" selected="selected">--</option>

                                                            {% for topping in option.available_topping_options.all %}
                                                                <option value="{{ topping.type }}" name="{{ topping.type }}">{{ topping.type }}</option>
                                                            {% endfor %}

                                                        </select>
                                                    {% endfor %}
                                                    {% endwith %}

                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="form-group">
                                            <button type="submit" class="add-to-cart btn">Add to Cart</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}


    </div>
{% endblock %}
